.idea
*.iml

*.vcxproj.user
.vs

.DS_Store
._*

.pytest_cache

/Windows/**/Debug
/Windows/**/Release
/Windows/**/*.aps

/macOS/*.app
/macOS/*.xcarchive

/rust/pinput/target

/web/extension/pinput-extension.js
/web/extension/logo-*.png

/release/artifacts/*

/WASM-4/pinput_tester/target
